		
		*{
			font-family: sans-serif;
		}
		body{
			background:linear-gradient(#ffffbf,#f2902b);
		
		}

		h1{
			text-align: center;
			text-shadow: 10px;
			color:#ff8282;
		}

		fieldset{
			/*background-color: #42433e;*/
			background-color: hsla(160,0%,0%,0.3);
			width:60%;
			margin:20px auto;
			padding:15px;
			box-shadow: -2px -2px 5px 2px pink;
		}

		legend{
			background-color:black;
			color:white;
			text-align:center;
			border:1px solid #c7cbd1;
			border-radius: 15px;
			padding:5px 20px 5px 20px;
			
		}

		input[type="text"],input[type="Email"],input[type="PASSWORD"],input[type="number"],input[type="tel"]{
			background-color: hsla(160,0%,0%,0);
			display:block;
			color:pink;
			border:none;
			width:70%;
			border-bottom: 3px solid black;
			padding:5px;
			margin:10px;
			outline:none;
			
		}
		label{
			padding:10px;
			color:#660000;
		}

		select{
			display: block;
			background-color: hsla(160,0%,0%,0.1);
			border-radius: 10px;
			color:#f2902b;
			padding:5px;
			margin:10px;
		}

		button{
	
			display: block;
			background-color:#f2902b;
			color:black;
			width:20%;
			padding:5px 10px 5px 10px;
			margin:10px auto;
			border-radius: 15px;
			border:none;
			cursor: pointer;
			

		}

		::-webkit-input-placeholder{
			text-transform: uppercase;
			color:black;}

			